{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "airbnb-typescript",
      "airbnb"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
      },
    "rules": {
      "@typescript-eslint/rule-name": "error",
  },
    "env": {
      "browser": true,
    }
}